$height: 30px;

.container {
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: $height;
    border-bottom: 1px solid grey;
    .title {
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .body {
    padding: 10px;
    .ratio {
      height: $height;
      display: flex;
      align-items: center;
      padding-left: 2px;
    }
    .category {
      height: $height;
      display: flex;
      align-items: center;
      padding-left: 2px;
      flex-wrap: wrap;
    }
  }
  .actionPart {
    height: $height;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
}
