.container {
  .list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .filterBar {
    padding-top: 15px;
    width: 90%;
    margin: auto 5%;
  }
}
