.container {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
  color: black;

  .iconWrapper {
    .icon {
      width: 25px;
      height: 25px;
    }
  }
  .text {
    font-size: 13px;
    font-weight: 500;
  }
}
.containerLiked {
  //@extend .container;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: olivedrab;
  color: #fff;
}
.contaninerDisliked {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(58, 60, 54);
  color: #fff;
}
